.about {
    grid-area: a;
    width: 100%;
    height: 900px;
    margin-left: 0;
    background: no-repeat url(../Img/about2.png);
}

.text {
    margin: 0;
    font-size: 35px;
    z-index: 2;
    color: white;
    text-align: center;
}

.text span {
    text-transform: uppercase;
}