.about {
    grid-area: a;
    width: 100%;
    margin-left: 0;
    
}

.text {
    width: 85%;
    font-size: 35px;
    z-index: 5;
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
}

.text span {
    text-transform: uppercase;
}

.logo {
    width: 65%;
    z-index: 1;
    position: relative;
    height: auto;
    bottom: 155px;
    left: 175px;
}