.about {
    grid-area: a;
    width: 100%;
    margin-left: 0;
    
}

.text {
    width: 85%;
    font-size: 35px;
    z-index: 5;
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
    margin: 0px;
    font-family:'Source Code Pro', monospace;
}

.text span {
    text-transform: uppercase;
}

.logo {
    width: 65%;
    z-index: 1;
    position: relative;
    height:  65%;
    bottom: 155px;
    left: 110px;
}
.h1 { 
    margin-bottom: 5px;
}