.navbar {
    padding: 20px;
    background: linear-gradient(#222022, #ceccce);
    grid-area: n;
    width: 100px;
    font-family:'Source Code Pro', monospace;
    color: azure;
}

.item  {
    color: azure;
    font-size: 30px;
    text-decoration: none;
    text-shadow: #ceccce;
    text-transform: uppercase;
}

.active {
    color: rgba(201, 48, 48, 0.877); 
    text-decoration: none;
}