
.grid {
  display: grid;
  gap: 5px;
  grid-template-areas: 
  "h h"
  "n a"
  "f f";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  background: linear-gradient(125deg, #000000, #ceccce83);
}

.gridContent {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}