.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar about";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
}
.about {
  grid-area: about;
  background-color: black;
}
.header {
  grid-area: header;
  background-color: rgba(133, 89, 89, 0.377);
}
.navbar {
  grid-area: navbar;
  background-color: rgba(59, 58, 58, 0.377);
}